{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>SPEC Snip Cracker Quiz</title>
<body>

<nav class="flex justify-content-between">
    <h3 class="text-white">SPEC Snip Cracker</h3>
    <ul class="flex">
        {% if request.user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li><a href="#">{{request.user.username}}</a></li>
            <form action="{% url 'logout' %}" method="post" id="logout-form">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
    </ul>
</nav>
<div class="container">
    
    {% block content %}
    
    {% endblock content %}
</div>
</body>
</html>